.bg-custom-squid {
  background-image: url("../public/assets/background.svg");
}

.img-squid {
  width: 32rem;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid-container-squid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.object-fit-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    object-fit: cover !important;
    width: 100%;
    aspect-ratio: 1;
  }
}
